
@{
    ViewBag.Title = "Home Page";

}

@section Scripts{
    <script type="text/javascript">

        $("#Reserve").click(function () {
            window.location.href = '@Url.Action("SignIn", "ReserveSpot" )';
         });

    </script>
}



<div class="welcome">
    <h1>Welcome to our parking lot!</h1>
    <p class="lead">We have 50 empty spots!</p>
    <button id="Reserve" class=" btn btn-primary btn-lg">reserve a spot &raquo;</button>
</div>