
@{
    ViewBag.Title = "Home Page";

}

@section Styles{
    <style>
        body {
            background-image: url('/Content/Images/cars-parkinglot.jpg');
/*            background-size:100%;
*/        }

    </style>


}

@section Scripts{
    <script type="text/javascript">

        $("#LogIn").click(function () {
            window.location.href = '@Url.Action("SignIn", "ReserveSpot" )';
        });

        $("#SignUp").click(function () {
            window.location.href = '@Url.Action("SignUp", "ReserveSpot" )';
         });

    </script>
}



<div class="welcome">
    <h1>Welcome to our parking lot!</h1>
    <p class="lead">We have 50 empty spots!</p>
    <button id="LogIn" class=" btn btn-primary btn-lg">
        Log in and then reserve a spot &raquo;
    </button>
    <button id="SignUp" class=" btn btn-primary btn-lg">Sign up &raquo;</button>

</div>