@section Styles {
    <link rel="Stylesheet" href="@Href("~/Content/Signin.css")" />
}
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        $("#ReserveSpot").click(function () {
            window.location.href = '@Url.Action("ReserveSpot", "ReserveSpot" )';
        });

         $("#SignUp").click(function () {
            window.location.href = '@Url.Action("Create", "Users" )';
         });


        //function onSuccess(googleUser) {
        //    console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        //}
        //function onFailure(error) {
        //    console.log(error);
        //}
        //function renderButton() {
        //    gapi.signin2.render('signin2', {
        //        'scope': 'profile email',


        //        'onsuccess': onSuccess,
        //        'onfailure': onFailure
        //    });
        //}
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button id="ReserveSpot" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Reserve a spot</button>
                        <hr class="my-4">
                        <button class="signin2 btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




